/nbproject/private/
/data/config/production/config.php
/_dev/
/.project
/_api/
/cl-releasetool/
/data/cache/edit_area_full_with_plugins.gz
/data/cache/edit_area_full_with_plugins.js
/data/config/production/config.local.php
/cms/data/modules/up-download/
/cms/captcha/
!/cms/data/modules/
/cms/data/modules/*
