<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <script src="scripts/jquery/jquery.js"></script>
        <script src="scripts/jquery/jquery-ui.js"></script>
        <script src="scripts/general.js" type="text/javascript"></script>
        <link href="scripts/fancytree/skin-lion/ui.fancytree.css" rel="stylesheet" type="text/css"/>
        <link href="scripts/fancytree/lib/contextmenu-abs/jquery.contextMenu.css" rel="stylesheet" type="text/css"/>
        <script src="scripts/fancytree/jquery.fancytree-all.min.js"></script>
        <script src="scripts/jquery/contextmenu/jquery.ui.position.min.js" type="text/javascript"></script>
        <link href="scripts/jquery/contextmenu/jquery.contextMenu.min.css" rel="stylesheet" type="text/css"/>
        <script src="scripts/jquery/contextmenu/jquery.contextMenu.min.js" type="text/javascript"></script>
        <script src="scripts/fancytree/modules/jquery.fancytree.persist.js" type="text/javascript"></script>
        <style>
            ul.fancytree-container {
                border: none;
            }
        </style>
    </head>
    <body>
        <div id="tree">
            {item_list}
        </div>
        <div id="debug"></div>
        <script>
            var basePath = '';
            $(function () {
                // using default options
                $("#tree").fancytree({
                    extensions: ["persist"],
                    imagePath: "images/filetypes/",
                    selectMode: 1,
                    persist: {
                        //expandLazy: true,
                        store: "auto",
                        fireActivate: true
                    },
                    click: function (event, data) {
                        //console.log(data.node);

                        if (data.node.hasClass('file')) {
                            var file = data.node.data.filepath;
                            // console.log(`Open ${file}`);
                            conMultiLink('right_top', `{multilink1}`, 'right_bottom', `{multilink2}`);
                        }

                        var tmpnode = data.node;
                        var parentnodes = [];
                        var counter = 0;
                        //console.log(tmpnode);
                        if (tmpnode.hasClass('directory')) {
                            parentnodes[counter] = tmpnode.title;
                            counter++;
                        }

                        while (tmpnode.getParent()) {
                            parentnodes[counter] = tmpnode.getParent().title;
                            tmpnode = tmpnode.getParent();
                            counter++;
                        }
                        parentnodes.pop();
                        parentnodes.pop();
                        parentnodes.reverse();
                        basePath = parentnodes.join('/');
                        if (basePath) {
                            basePath += '/';
                        }
                        console.log(basePath);
                    },
                    active: function (event, data) {
                        console.log('active');
                    }
                });

                $.contextMenu({
                    selector: "#tree span.fancytree-title",
                    build: function ($trigger, e) {

                        var options = {
                            callback: function (key, options) {
                                console.log("clicked: " + key);

                                switch (key) {
                                    case 'edit':
                                        var node = $.ui.fancytree.getNode(this);
                                        if (node.hasClass('file')) {
                                            var file = node.data.filepath;
                                            conMultiLink('right_top', `{multilink1}`, 'right_bottom', `{multilink2}`);
                                        }
                                }
                            },
                            items: {}
                        };
                        var node = $.ui.fancytree.getNode($trigger);

                        if (node.hasClass('directory')) {
                            options.items.edit = {name: "Rename", icon: "edit"};
                        } else if (node.hasClass('file')) {
                            options.items.edit = {name: "Edit", icon: "edit", disabled: function (event, ui) {
                                    var node = $.ui.fancytree.getNode(this);
                                    return (node.hasClass('notwritable')) ? true : (node.hasClass('file')) ? false : true;
                                }};
                        }

                        options.items.delete = {name: "Delete file", icon: "delete", disabled: function (event, ui) {
                                var node = $.ui.fancytree.getNode(this);
                                console.log(node);
                                console.log(ui);
                                // return `true` to disable, `"hide"` to remove entry:
                                return (node.hasClass('notwritable')) ? true : (node.hasClass('file')) ? false : true;
                            }
                        };
                        return options;
                    }

                    /*
                     items: {
                     "edit": {
                     name: "Edit <span>readonly</span>",
                     icon: "edit",
                     disabled: function (event, ui) {
                     var node = $.ui.fancytree.getNode(this);
                     console.log(node);
                     console.log(ui);
                     // return `true` to disable, `"hide"` to remove entry:
                     return (node.hasClass('file')) ? false : true;
                     },
                     callback: function (itemKey, opt, e) {
                     var node = $.ui.fancytree.getNode(this);
                     var file = node.data.filepath;
                     console.log(`Open ${file}`);
                     conMultiLink('right_top', `{multilink1}`, 'right_bottom', `{multilink2}`);
                     }
                     },
                     "delete": {name: "Delete", icon: "delete", disabled: function (event, ui) {
                     var node = $.ui.fancytree.getNode(this);
                     console.log(node);
                     console.log(ui);
                     // return `true` to disable, `"hide"` to remove entry:
                     return (node.hasClass('notwritable')) ? true : (node.hasClass('file')) ? false : true;
                     }}
                     }*/
                });
            });
        </script>

    </body>
</html>
