<style>
    .cl_form_row {
        margin-bottom: 1em;
    }
</style>


{CODEMIRROR_SCRIPT}

<form  enctype="multipart/form-data" name="file_editor" method="post" action="main.php">
<input id="m4" name="area" type="hidden" value="{AREA}" />
<input id="m5" name="action" type="hidden" value="{ACTION}" />
<input id="m6" name="frame" type="hidden" value="4" />
<input id="m7" name="status" type="hidden" value="send" />
<input id="m8" name="tmp_file" type="hidden" value="{FILENAME}" />
<input id="m9" name="contenido" type="hidden" value="1" />

<fieldset style="width: calc(100% - 40px); margin: auto;">
    <legend><strong>i18n("Edit file")</strong></legend>
    <div class="cl_form_row">
    <label style="width: 100px;display: inline-block;vertical-align: top;">i18n("Name")</label>
    <input name="file" value="{FILENAME}" size="60" type="text" />
    </div>
    <div class="cl_form_row">
    <label style="width: 100px;display: inline-block;vertical-align: top;">i18n("Description")</label>
    <textarea name="description" style="width: calc(100% - 130px);" cols="100" rows="5" wrap="off">{DESCRIPTION}</textarea>
    </div>
    <div class="cl_form_row">
        <label style="width: 100px;display: inline-block;vertical-align: top;">i18n("Code")</label>
    <textarea id="code" name="code" style="width: calc(100% - 120px);" cols="100" rows="35" wrap="off">{SOURCE}</textarea>
    </div>
    <div style="text-align: right;padding-right: 1%;" class="cl_form_row cl_action_buttons">
        <input id="m12" name="submit" type="image" src="{SAVE_BUTTON_IMAGE}" alt="{SAVE_BUTTON_DESC}" title="{SAVE_BUTTON_DESC}" accesskey="s" onclick="" />
    </div>
</fieldset>
</form>
<script type="text/javascript">
(function(Con, $) {
    $(function() {
        var subMenu = '0';
        if (false === isNaN(subMenu)) {
            // Old style, menu position as number
            Con.markSubmenuItem('c_' + subMenu);
        } else if ('string' === $.type(subMenu) && subMenu.length > 0) {
            // Old style, area name
            Con.markSubmenuItem(subMenu);
        }
    });
})(Con, Con.$);
$('#m9').val(Con.sid);
</script>
