<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>Workflow</plugin_name>
        <plugin_foldername>workflow</plugin_foldername>
        <uuid>90AE1A9C-D577-51F5-A46E-FCCD055547A9</uuid>
        <description>Managed workflow via backend</description>
        <author>Timo Hummel, Ortwin Pinke</author>
        <copyright>(c) 2012-2013, ConLite Team</copyright>
        <mail>info@conlite.org</mail>
        <website>http://conlite.org</website>
        <version>1.0.0</version>
    </general>
    <requirements php="5.6">
        <contenido minversion="4.9.0" />
        <conlite minversion="2.0.0" />
    </requirements>
    <contenido>
        
    </contenido>
</plugin>