<div id="request_layer">
    <div id="request_label" style="display:block;">
        <p style="margin:0; padding:0;"><a href="#" onclick="showRequestLayer();return false;">i18n('Request password?')</a></p>
    </div>
    <div id="request_form" style="display:none;">
        <p style="margin:0; padding:0;">{LABEL}</p>
        <div style="display: block;margin:0;padding: 10px 0;">{FORM}</div>
        <p style="margin:0; padding:0;">{MESSAGE}</p>
        <div style="position: absolute; top: 4px; right: 4px;cursor: pointer;" onclick="hideRequestLayer();">{BTN_HIDE}</div>
    </div>
</div>

<script type="text/javascript">
    function showRequestLayer() {
        document.getElementById('request_form').style.display = 'block';
        document.getElementById('request_label').style.display = 'none';
    }
    
    function hideRequestLayer() {
        document.getElementById('request_form').style.display = 'none';
        document.getElementById('request_label').style.display = 'block';
    }
    
    {JS_CALL}
</script>

